.device-card {
  padding: 10pt;
  margin: 5pt;
}

.device-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.disaply-card {
  color: whitesmoke;
  padding: 5pt;
  margin: 5pt;
  height: 180pt;
}
