.profile-thumbnail {
  width: 50pt;
  height: 50pt;
  margin-left: 10pt;
}

.profile-pic {
  width: 150pt;
  height: 150pt;
  margin-left: 10pt;
}

.profile-card {
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin: 5pt;
}

.post-item {
  background: ;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin: 5pt;
}

.comment-item {
  margin: 5pt;
  background-color: #f0f0f0;
}

.comment-thumbnail {
  margin-top: 5pt;
  margin-bottom: 5pt;
  margin-left: 5pt;
  width: 25pt;
  height: 25pt;
}
