html,
body {
  height: 100%;
}

.site {
  display: grid;
  grid-template-rows: auto auto auto auto 100pt;
  height: 100%;
  grid-template-areas:
    "header"
    "sidebar"
    "widget"
    "content"
    "footer";
}

.site-header {
  background: yellowgreen;
  /* grid-column: 1/4;
  grid-row: 1/2; */
  grid-area: header;
}

.site-sidebar {
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: sidebar;
}

.site-content {
  background: #f0f0f0;
  /* grid-column: 2/3;
  grid-row: 2/3; */
  grid-area: content;
  padding: 5pt;
}

.site-footer {
  background: teal;
  /* grid-column: 1/4;
  grid-row: 3/4; */
  grid-area: footer;
  margin: 5pt;
}

.site-widget {
  /* grid-column: 1/4;
  grid-row: 3/4; */
  grid-area: widget;
  margin: 5pt;
}

.component {
  background: teal;
  margin: 10pt;
}

@media screen and (min-width: 34em) {
  .site {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr 50pt;
    height: 100%;
    grid-template-areas:
      "header header header"
      "sidebar content widget"
      "footer footer footer";
  }
}
